
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPatient</title>
</head>
<body>
    <form method="post" action="SubmitPatient">
        Patient Id :<input type="text" name="id" id="" /><br />
        Patient Name : <input type="text" name="name" id=""><br>
        Patient Problem : <input type="text"  name="problem" id=""><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
