
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayPatient</title>
</head>
<body>
    Patient Id :@Model.id <br />
    Patient Name : @Model.name <br />
   @* Patient Problem : @Model.problem <br />*@
</body>
</html>
